SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
APP_ID=...

USER_CHANNEL_ID=C...
STAFF_CHANNEL_ID=C...
REMINDER_CHANNEL_ID=C...
META_CHANNEL_ID=C...
OPEN_TICKETS_CHANNEL_ID=C...

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=...
DB_NAME=sw_bot

PORT=45100

SW_AI=SWAI-...

ADMINS=U...,U...
ENVIRONMENT=PRODUCTION
ANNOUNCE_META=false

OPEN_TICKET_REACTION=frog-diabolical
ERROR_DM_USER=U...
TASK_JOURNAL_PATH=task_journal.jsonl
